# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java\java_chat_BCOW_16022021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
